@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --gray: #8080801d;
    --gray2: #414141;
    --blue: #2e7dff;
    --card: #1b2e4785;
}


body
{
  background: linear-gradient(220deg, #0e213d, #070a0f, #0e213d);
  background-size: 300%, 300%;
  animation: move-bg 20s infinite linear;
  -webkit-animation: move-bg 20s infinite linear;
  /* cursor: none; */
}




@keyframes move-bg {
  0%{
    background-position: 0%, 50%;
  }
  50%{
    background-position: 100%, 50%;
  }
  100%{
    background-position: 0%, 50%;
  }
}


.main_bg
{
  /* background: url(./imgs/bg.png); */
  width: 100%;
  height: auto;
  background-position: top;
  background-size: cover;
}


.home_link
{
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}

.home_link svg
{
  font-size: 1.5em;
}



.sidebar
{
  position: sticky;
  top: 15px;
}

.navsticky
{
  position: sticky;
  top: 15px;
}

.mobile,
.menu
{
  display: none !important;
}


.sidebar_box.active
{
  left: 0;
}

.open
{
  position: fixed;
  color: #fff;
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  background: var(--blue);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
  place-items: center;
  /* cursor: pointer; */
  z-index: 999;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.open.active svg
{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

/* css-heg063-MuiTabs-flexContainer */
.MuiTabs-flexContainer button
{
  color: #fff;
  font-weight: 400 !important;
}

































































@media (max-width: 1280px) {
  .main_box
  {
    width: 92% !important;
  }
}

@media (max-width: 1100px) {
  .main_box
  {
    width: 98% !important;
  }
  

  .sidebar_box
  {
    position: fixed;
    width: 40%;
    z-index: 11;
    left: -100%;
    top: 0;
    height: 100vh;
  }

  .sidebar
  {
    background: var(--gray);
    backdrop-filter: blur(30px);
    height: 100vh;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  
  .page_box
  {
    width: 100%;
  }
  
  .open
  {
    display: grid;
    left: 0;
    top: 30%;
  }
}
@media (max-width: 900px) {
  .sidebar_box
  {
    position: fixed;
    width: 45%;
    z-index: 11;
    left: -100%;
    top: 0;
    height: 100vh;
  }
}
@media (max-width: 900px) {
  .sidebar_box
  {
    position: fixed;
    width: 50%;
    z-index: 11;
    left: -100%;
    top: 0;
    height: 100vh;
  }
}
@media (max-width: 660px) {
  .sidebar_box
  {
    position: fixed;
    width: 60%;
    z-index: 11;
    left: -100%;
    top: 0;
    height: 100vh;
  }

  .contact_box .box
  {
    grid-template-columns: repeat(2,1fr) !important;
  }
}
@media (max-width: 600px) {
  .mobile,
  .menu
  {
    display: grid !important;
    z-index: 999;
  }

  .telegram_link,
  .home_link
  {
    display: none;
  }

  .ul
  {
    position: absolute;
    transition: .5s all;
    top: -550%;
    left: 0;
    width: 100% !important;
    background: #3e3e3e;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 20px 0;
    line-height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

  .ul.active
  {
    top: 0;
  }

  .page_box
  {
    padding: 15px;
  }


  .cursor
  {
    display: none;
  }



}
@media (max-width: 500px) {
  .sidebar_box
  {
    position: fixed;
    width: 70%;
    z-index: 11;
    left: -100%;
    top: 0;
    height: 100vh;
  }

  .footer h1
  {
    display: none;
  }

  .footer
  {
    justify-content: center;
  }

  .contact_box .box
  {
    grid-template-columns: repeat(1,1fr) !important;
  }

  .about_me p
  {
    padding-right: 0;
  }

  .skills
  {
  grid-template-columns: repeat(1,1fr);
  }

}
@media (max-width: 450px) {
  .sidebar_box
  {
    position: fixed;
    width: 90%;
    z-index: 11;
    left: -100%;
    top: 0;
    height: 100vh;
  }
}
@media (max-width: 350px) {
  .sidebar_box
  {
    position: fixed;
    width: 100%;
    z-index: 11;
    left: -100%;
    top: 0;
    height: 100vh;
  }
}



.cursor
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  border: 2px solid#fff;
  pointer-events: none;
  z-index: 9999;
}

